<ion-header>
    <ion-navbar>
        <ion-title>artist</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="artist-header">
        <div class="header-image"></div>
        <div class="profile-image"></div>
        <banner [title]="artist?.artistName || ''"></banner>
    </div>

    <spinner *ngIf="loading === true"></spinner>

    <div class="artist-wrapper" *ngIf="loading === false">
        <section-header title="Top Tracks" [showMore]="topTracks.length > 3"></section-header>
        <track-list [tracks]="topTracks" [loading]="topTracksLoading" [showNoTracksMessage]="true"></track-list>

        <section-header title="Latest Releases" [showMore]="topTracks.length > 3"></section-header>
        <track-list [tracks]="topTracks" [loading]="topTracksLoading" [showNoTracksMessage]="true"></track-list>
    </div>
</ion-content>
