<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button icon-only (click)="toggleQueue()">
                <ion-icon name="md-list"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Musicoin</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="closeClick()">
                <ion-icon name="md-arrow-round-down"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="player-modal-wrapper">
        <div class="player-modal" *ngIf="isQueueVisible === false" [ngClass]="{ 'track-loading': isLoading }">
            <ion-card *ngIf="track">
                <div class="artwork" [ngStyle]="{'background-image': 'url(' + (track?.imageSrc || '') + ')'}" [ngClass]="{'no-artwork': !track.imageSrc}"></div>

                <ion-card-content text-center>
                    <p class="title">{{ track.title }}</p>
                    <p class="artist">{{ track.author }}</p>
                </ion-card-content>
            </ion-card>

            <div class="progress">
                <div class="loading-bar"></div>
                <div class="load-progress" [ngStyle]="{ 'width': loadProgress + '%' }"></div>
                <div class="play-progress" [ngStyle]="{ 'width': playProgress + '%' }"></div>
            </div>

            <div class="progress-times">
                <div class="current">{{ formattedMmSs(currentTime) }}</div>
                <div class="total">{{ formattedMmSs(duration) }}</div>
            </div>

            <div class="controls" [ngClass]="{'can-skip-forward': canSkipForward, 'can-skip-backward': canSkipBackward}">
                <button class="button skip-backward-button" (click)="skipBackwardClicked($event)">
                    <ion-icon name="md-skip-backward"></ion-icon>
                </button>
                <button class="button play-button" (click)="playClicked($event)" *ngIf="isPaused">
                    <ion-icon name="md-play"></ion-icon>
                </button>
                <button class="button pause-button" (click)="pauseClicked($event)" *ngIf="isPlaying">
                    <ion-icon name="md-pause"></ion-icon>
                </button>
                <button class="button skip-forward-button" (click)="skipForwardClicked($event)">
                    <ion-icon name="md-skip-forward"></ion-icon>
                </button>
            </div>
        </div>

        <div class="queue" *ngIf="isQueueVisible === true">
            Queue
        </div>
    </div>
</ion-content>
