page-player-modal {
    background-color: $musicoin-dark-grey;

    .header {
        .toolbar-background {
            background-color: $musicoin-dark-grey;
            background-image: url('../assets/img/musicoin-light.png') !important;
        }
    }

    .scroll-content {
        background: $musicoin-dark-grey !important;
        padding: 1.2rem;
        padding-top: 0;
        overflow: hidden;
        margin-bottom: 0;
    }



    .player-modal-wrapper {
        width: 100%;
        max-width: 32rem;
        margin: 0 auto;
    }

    .player-modal {
        &.track-loading {
            .progress {
                .loading-bar {
                    display: block !important;
                }
                .play-progress {
                    display: none;
                }
            }

            .progress-times {
                color: $musicoin-dark-grey;
            }
        }
    }

    .artwork {
        background-color: grey;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
        padding-bottom: 100%;
        position: relative;

        &.no-artwork {
            background-image: url('../assets/img/blank-dark.png') !important;
        }
    }

    .title {
        color: $musicoin-white;
        font-size: 1.6rem;
        margin-bottom: .4rem;
        //text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .artist {
        color: $musicoin-yellow;//light-grey;
        font-size: 1.2rem;
        font-weight: bold;
        //text-align: left;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .card {
        box-shadow: none;
        margin: 0;
        width: 100%;
        background: transparent;

        .card-content {
            position: relative;
            text-align: center;
            padding: 1rem 0;
        }
    }

    .play-count {
        text-transform: uppercase;
        font-size: 1.2rem;
        text-align: right;
        color: $musicoin-black;
        font-weight: bold;
        background: $musicoin-gradient;
        display: inline-block;
        line-height: 2.4rem;
        border-radius: 1.2rem;
        padding: 0 1.2rem;
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;
    }

    .controls {
        height: 6rem;
        margin-top: 2rem;
        text-align: center;

        .button {
            background: $musicoin-gradient;
            border-radius: 50%;
            border: 1px solid $musicoin-yellow;
            color: $musicoin-dark-grey;
            font-size: 1.6rem;
            height: 4rem;
            padding: 0;
            position: relative;
            text-align: center;
            width: 4rem;
        }

        .button {
            &.play-button,
            &.pause-button {
                height: 6rem;
                width: 6rem;
                .icon {
                    font-size: 3.2rem;
                    margin-left: .2em;
                }
            }
            &.pause-button {
                .icon {
                    margin-left: 0;
                }
            }

            & + .button {
                margin-left: 1.2rem;
            }

            &.skip-forward-button,
            &.skip-backward-button {
                background: $musicoin-grey;
                border-color: $musicoin-grey;
                //opacity: .25;
            }

            .icon {
                text-shadow: 0 -.1rem 0 rgba($musicoin-white, .1);
            }
        }

        &.can-skip-forward {
            .button.skip-forward-button {
                background: $musicoin-gradient;
                border-color: $musicoin-yellow;
            }
        }

        &.can-skip-backward {
            .button.skip-backward-button {
                background: $musicoin-gradient;
                border-color: $musicoin-yellow;
            }
        }
    }

    .progress-times {
        color: $musicoin-white;
        font-size: 1.2rem;
        font-weight: bold;
        position: relative;

        .current,
        .total {
            position: absolute;
            top: -.4rem;
        }

        .current {
            left: 0;
        }

        .total {
            right: 0;
        }
    }

    .progress,
    .load-progress,
    .play-progress,
    .loading-bar {
        top: 0;
        left: 0;
        height: .2rem;
        position: absolute;
    }

    .progress {
        background: $musicoin-grey;
        margin: 1.4rem 0;
        position: relative;
        right: 0;

        .load-progress {
            background: $musicoin-grey;
        }

        .play-progress {
            background: $musicoin-gradient;

            &::after {
                content: '';
                height: .8rem;
                width: .8rem;
                background: $musicoin-gradient;
                position: absolute;
                right: -.4rem;
                top: -.4rem;
                border-radius: .5rem;
                border: 1px solid $musicoin-yellow;
                box-shadow: 0 .1rem .2rem rgba($musicoin-black, .2);
            }
        }

        .loading-bar {
            width: 100%;

            background-image: repeating-linear-gradient(
                    -90deg,
                    $musicoin-light-yellow,
                    $musicoin-light-yellow 3px,
                    $musicoin-dark-yellow 3px,
                    $musicoin-dark-yellow 6px
            );
            background-size: 18px 18px;
            animation: move .5s linear infinite;
            display: none;
        }

        @keyframes move {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: 20px 0;
            }
        }
    }
}
